<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zona Azul
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]='search' (ionChange)='searchChanged()' placeholder='Onde você está?'></ion-searchbar>
    <ion-list class='ion-margin-horizontal' [hidden]='!search.length'>
      <ion-item *ngFor="let result of searchResults">
        {{result.description}}
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map"></div>

  <ion-item>
    <ion-select  multiple="false" placeholder="Selecione cartão">
      <ion-select-option value= "**** **** **** 7441">**** **** **** 7441</ion-select-option>
      <ion-select-option value= "**** **** **** 5021">**** **** **** 5021</ion-select-option>
      <ion-select-option value= "**** **** **** 2131">**** **** **** 2131</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-select  multiple="false" placeholder="Selecione veículo">
      <ion-select-option value= "FHP-7200">Placa FHP-7200</ion-select-option>
      <ion-select-option value= "BOD-2057">Placa BOD-2057</ion-select-option>
      <ion-select-option value= "EMY-8998">Placa EMY-8998</ion-select-option>
    </ion-select>
  </ion-item>
  
  
</ion-content>
