<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Estacionar
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]='search' (ionChange)='searchChanged()' placeholder='Onde você está?'></ion-searchbar>
    <ion-list class='ion-margin-horizontal' [hidden]='!search.length'>
      <ion-item *ngFor="let result of searchResults">
        {{result.description}}
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map"></div> 

  <ion-row  class="ion-justify-content-center">
    <ion-col size="6" class="ion-text-center">
      <div class="cads">
        <h3> 1 CAD - 1 Hora</h3>
        <h4>R$ 5,00</h4>
      </div>
    </ion-col>
  </ion-row>


  <ion-item>
    <ion-select [(ngModel)]="cartaoSelecionado" multiple="false" placeholder="Selecione o método de pagamento">
      <ion-select-option value= "final 7441">**** **** **** 7441</ion-select-option>
      <ion-select-option value= "Final 5021">**** **** **** 5021</ion-select-option>
      <ion-select-option value= "Final 2131">**** **** **** 2131</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-select [(ngModel)]="placaSelecionada" multiple="false" placeholder="Selecione a placa do veículo">
      <ion-select-option value= "FHP-7200">FHP-7200</ion-select-option>
      <ion-select-option value= "BOD-2057">BOD-2057</ion-select-option>
      <ion-select-option value= "EMY-8998">EMY-8998</ion-select-option>
    </ion-select>
  </ion-item>
    
  <ion-button (click)="confirmar()" class="botao-salvar" size="large" shape ="round" expand="block" color="secondary">
    Confirmar
  </ion-button>

</ion-content>
